.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
  background: none;
  position: relative;
}

.header-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .header-heading {
    font-size: 20px;
  }
}

.menu-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}

.nav-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .nav-container {
    display: flex;
  }
}

.mobile-nav-container {
  position: absolute;
  top: 0%;
  right: 0;
  background-color: #1d2537;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #0f172a;
  border-radius: 4px;
  padding-left: 0px;
  padding: 12px 24px;
  box-shadow: 0 0 10px #1d2537;
  z-index: 1;
}

.nav-item {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 700;
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  .nav-item {
    font-size: 16px;
    margin-left: 28px;
  }
}
.nav-item a {
  color: inherit;
  text-decoration: none;
}

.mobile-nav-item {
  color: #f8fafc;
  font-family: 'Roboto';
  list-style-type: none;
  margin-top: 12px;
  margin-bottom: 12px;
}
.mobile-nav-item a {
  color: inherit;
  text-decoration: none;
}
